<app-note
  *ngFor="let note of notes; first as isFirst; last as isLast; trackBy: trackNote"
  [id]="note.id"
  [blur]="noteIdInFocus !== null && noteIdInFocus !== note.id"
  [disable]="showDrag"
  [value]="note.value"
  [attr.idnote]="note.id"
  class="note"
  [class.first]="isFirst"
  [class.last]="isLast"
  [class.dragging]="showDrag"
  [focus]="focusNote"
  (onWasChangedValue)="onWasChangedValueNote($event)"
  (onCreate)="onCreateNote($event)"
  (onDelete)="onDeleteNote($event)"
  (onMerge)="onMergeNote($event)"
  (onFocus)="onFocusNote($event)"
  (touchstart)="onTouchstartNote($event)"
  (touchmove)="onTouchmoveNote($event)"
  (touchend)="onTouchendNote($event)"
  (touchcancel)="onTouchendNote($event)"
></app-note>

<div
  *ngIf="notes.length === 0"
  class="none-notes">tap to create note</div>
