<app-note
  *ngFor="let note of notes"
  [value]="note.value"
></app-note>
<app-note
  *ngFor="let note of notes"
  [value]="note.value"
></app-note>
<app-note
  *ngFor="let note of notes"
  [value]="note.value"
></app-note>
<app-note
  *ngFor="let note of notes"
  [value]="note.value"
></app-note>
<app-note
  *ngFor="let note of notes"
  [value]="note.value"
></app-note>
<app-note
  *ngFor="let note of notes"
  [value]="note.value"
></app-note>
<app-note
  *ngFor="let note of notes"
  [value]="note.value"
></app-note>
<app-note
  *ngFor="let note of notes"
  [value]="note.value"
></app-note>
<app-note
  *ngFor="let note of notes"
  [value]="note.value"
></app-note>
<app-note
  *ngFor="let note of notes"
  [value]="note.value"
></app-note>
<app-note
  *ngFor="let note of notes"
  [value]="note.value"
></app-note>
<app-note
  *ngFor="let note of notes"
  [value]="note.value"
></app-note>
<app-note
  *ngFor="let note of notes"
  [value]="note.value"
></app-note>
<app-note
  *ngFor="let note of notes"
  [value]="note.value"
></app-note>
<app-note
  *ngFor="let note of notes"
  [value]="note.value"
></app-note>
<app-note
  *ngFor="let note of notes"
  [value]="note.value"
></app-note>
