:host {
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  .value {
    padding: 10px 20px;
    flex: 1;
    border: none;
    outline: none;
    resize: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    background: unset;
    height: 30px;
    border-radius: 5px;
    transition-property: filter;
    transition-duration: 0.2s;
    transition-timing-function: ease;
  }

  .value::-moz-selection {
    color: #ffffff;
    background: #ffffff33;
  }

  .value::selection {
    color: #ffffff;
    background: #ffffff33;
  }

  .value.disabled {
    filter: blur(1px);
  }
}
:host(.first) {
}
:host(.last) {
  .value { }
}
