<!-- <textarea
  #textareaRef
  class="value"
  [value]="note.value"
  autocorrect="off"
  autocapitalize="off"
  spellcheck="false"
  rows="1"
  maxlength="100"
  [class.disabled]="disabled"
  (focus)="onFocus.emit({ note: note, in: true, e: $event })"
  (focusout)="onFocus.emit({ note: note, in: false, e: $event })"
  (input)="onInput($event)"
  (keydown.enter)="pressEnterNote($event)"
  (keydown.shift.enter)="pressEnterNote($event)"
  (keydown.backspace)="pressBackspaceNote($event)"
  [style.opacity]="touch.doAction ? '0.5' : '1'"
></textarea> -->

<textarea
  #textareaRef
  class="value"
  autocorrect="off"
  autocapitalize="off"
  spellcheck="false"
  maxlength="100"
  [style.opacity]="touch.doDelete || timer.action === 'successDelete' || timer.action === 'cancelDelete' || blur ? '0.5' : '1'"
  [value]="value"
  [disabled]="disable || timer.action === 'successDelete' || timer.action === 'cancelDelete'"
  [style.user-select]="disable ? 'none' : 'text'"
  (input)="onInput($event)"
  (keydown)="onKeydown($event)"
  (focus)="onFocus.emit({ id: id, in: true, direction: 'current' })"
  (blur)="onFocus.emit({ id: id, in: false })"
></textarea>

<svg
  #svgRef
  *ngIf="touch.canDraw || timer.action === 'successDelete' || timer.action === 'cancelDelete'"
  class="svg"
  [attr.viewBox]="touch.viewBox[0]+' '+touch.viewBox[1]+' '+touch.viewBox[2]+' '+touch.viewBox[3]"
  xmlns="http://www.w3.org/2000/svg"
  >
  <path
    class="first-line"
    [attr.d]="getStringPath(touch.pathD)"
    stroke="#ffffff"
    stroke-width="2"
    stroke-linecap="round"
    fill="transparent"></path>
  <path
    class="second-line"
    [attr.d]="getStringPath(touch.pathD2)"
    stroke="#ffffff"
    stroke-width="2"
    stroke-linecap="round"
    fill="transparent"></path>

  <circle
    [hidden]="!timer.show"
    [attr.cx]="timer.show ? timer.x : -1000"
    [attr.cy]="timer.show ? timer.y-1 : -1000"
    r="10"
    fill="#ffffff" />
  <text
    [hidden]="!timer.show"
    [attr.x]="timer.show ? timer.x : -1000"
    [attr.y]="timer.show ? timer.y : -1000"
    class="timer"
    dominant-baseline="middle"
    text-anchor="middle"
    >{{ timer.value }}</text>
</svg>
