:host {
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px dashed #f5f492;

  .value {
    padding: 20px;
    padding-bottom: 0px;
    flex: 1;
    margin: 0px;
    border: none;
    outline: none;
    resize: none;
    color: #fbfb95;
    font-size: 26px;
    line-height: 26px;
    background: unset;
    height: 30px;
    transition-property: filter;
    transition-duration: 0.2s;
    transition-timing-function: ease;
  }

  .value::-moz-selection {
    color: #fbfb95;
    background: #fbfb9533;
  }

  .value::selection {
    color: #fbfb95;
    background: #fbfb9533;
  }

  .value.disabled {
    filter: blur(2px);
  }
}
:host(.first) {
}
:host(.last) {
  .value { }
}
